mixin basic-element(elementName)
  - var element = file[elementName];
  - var categoryClassName ='element--' + element.category.replace(/\s+/g, '-');

  td.element(class=categoryClassName)
    dl.element__data
      dt.element__symbol=element.symbol
      dd.a11y-text=elementName
      dt.a11y-text Atomic Number
      dd.element__atomic-number=element.number
      dt.a11y-text Category
      dd.a11y-text=element.category
